<div class="about">
  <div class="about_text">

    <h1><a name="about_me"></a>Обо мне</h1>
    <hr>
    <img src="../assets/images/circle.png" alt="Мое фото">

    <p>Работаю в компании, которая занимается разработкой сайтов. Занимаюсь продвижением сайтов в поисковых системах и интернет рекламой. В работе часто приходится  самостоятельно редактировать верстку или работу отдельных программных модулей написанных на php, но моя работа редко пересекается с js, поэтому знания придется поднимать.<a title="Сайт одностраничный пока" href="#">Read more</a></p>

  </div>

</div>
