<div class="summerCount">
  <p>
    До конца лета осталось: <span class="value">{{days}}</span> дней
  </p>

  <span class="time">
     <div class="depart">
       <div class="value">{{hours}}</div>
        <div class="units">часы</div>
     </div>  :

      <div class="depart">
       <div class="value">{{min}}</div>
       <div class="units">минуты</div>
     </div>  :

      <div class="depart">
       <div class="value">{{sec}}</div>
        <div class="units">секунды</div>
     </div>
  </span>

</div>
