<div class="skil_block">
  <div class="skil_block_text">
    <h1><a name="skil"></a>Навыки</h1>
    <hr>
    <div>
      <span>Продвижение сайтов</span>
      <span>HTML</span>
      <span>CSS</span>
      <span>Наполнение контентом</span>
      <span>Копирайтинг</span>
      <span>Администрирование сайтов</span>
      <span>Поисковая оптимизация сайтов</span>
      <span>Яндекс.Метрика</span>
      <span>Adobe Photoshop</span>
      <span>CMS Wordpress</span>
      <span>Контекстная реклама</span>
    </div>
  </div>
</div>
