<div class="education">
  <div class="education_text">
    <h1><a name="education"></a>Образование</h1>
    <hr>
    <div class="ed_list">
      <div class="col1">
        <h2>Основное</h2>
        <ul>
          <li>2015 ИКИТ СФУ</li>
          <li>Программная инженерия</li>
        </ul>
      </div>
      <div class="col1">
        <h2>Дополнительное</h2>
        <ul>
          <li>2015 ИКИТ СФУ</li>
          <li>Переводчик</li>
        </ul>
      </div>
      <div class="col1">
        <h2>Курсы</h2>
        <ul>
          <li>2015 Инопроф</li>
          <li>Сайт своими руками</li>
        </ul>
      </div>
    </div>
  </div>

</div>
