<div class="contact">
  <h1 ><a name="contacts"></a>Как со мной связаться</h1>
  <hr>
  <table>
    <tbody>
    <tr>
      <td>
        <img src="assets/images/geo.png" alt="geo-icon">
        <p>г. {{contact.city}}</p>
      </td>
      <td>
        <img src="assets/images/tel.png" alt="tel-icon">
        <p>{{contact.phone}}</p>
      </td>
      <td>
        <img src="assets/images/letter.png" alt="letter-icon">
        <a href="mailto:{{contact.mail}}">{{contact.mail}}</a>
      </td>
      <td>
        <img src="assets/images/telegram.png" alt="telegram-icon">
        <a href="{{contact.linkTelegramm}}">{{contact.telegram}}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
